@layer section {
  .footer {
    font: var(--font-label);
    color: var(--text-color-neutral);
    margin-bottom: $space-400;
    text-align: center;

    @media ($bp-compact-footer) {
      flex-direction: column-reverse;
    }
  }
}
