@layer section {
  .navbar {
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: var(--border-color-muted);
    border-radius: 0 0 0.5rem 0.5rem;
    padding: $space-250 $space-400;
  }

  .navlink {
    font: var(--font-label);
    text-transform: lowercase;
  }

  .logo-text {
    font: var(--font-logo);
    text-transform: uppercase;
  }
  .theme-toggle {
    margin-left: $space-200;
  }
}
