<section class="biography section">
    <h1>Kye Gregory</h1>
    <span class="bold">24yo • Software Engineer • Australia</span>
    <p>I build robust backend systems using modern tools and technologies.</p>
    <ul class="inline-list">
        <li><a class="small button" href="/">Resume</a></li>
        <li><a class="small ghost-button" href="{{ .Site.Params.linkedin }}" target="_blank">LinkedIn</a></li>
        <li><a class="small ghost-button" href="{{ .Site.Params.github }}" target="_blank">Github</a></li>
    </ul>
</section>
