<div class="header container" role="navigation">
    <nav class="navbar section" aria-label="Main Navigation">
        <ul class="navbar-group">
            <li><a href="/" class="logo-text">KG</a></li>
        </ul>
        <ul class="navbar-group">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li>
                <a class="link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
            <li>{{ partial "theme-toggle" . }}</li>
        </ul>
    </nav>
</div>
