@layer component {

  .button,
  .ghost-button {
    font: var(--font-body);
    border-radius: $space-50;
    padding: $space-150 $space-300;

    &:hover {
      font-style: italic;
    }
  }

  .button {
    color: var(--bg-color);
    background-color: var(--text-color);

    &:hover {
      background-color: var(--text-color-muted);
    }
  }

  .ghost-button {
    color: var(--text-color);
    border: 1px solid var(--bg-color-muted);

    &:hover {
      color: var(--text-color);
      border-color: var(--text-color);
    }
  }
}
