<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>{{ block "title" . }}{{ end }}</title>
    {{- $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath"
    "style.css") | minify | fingerprint }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">
</head>

<body>
    {{ partial "header" . }}
    <div class="main container">
        {{ block "main" . }}{{ end }}
    </div>
    {{ partial "footer" . }}
</body>

</html>
