//// Colours
$neutral-100: hsl(0, 0, 90);
$neutral-200: hsl(0, 0, 80);
$neutral-300: hsl(0, 0, 70);
$neutral-400: hsl(0, 0, 60);
$neutral-500: hsl(0, 0, 50);
$neutral-600: hsl(0, 0, 40);
$neutral-700: hsl(0, 0, 30);
$neutral-800: hsl(0, 0, 20);
$neutral-900: hsl(0, 0, 10);

//// Fonts
$font-size-base: 16px;
$font-size-xl: 1.75rem;
$font-size-lg: 1.50rem;
$font-size-md: 1.25rem;
$font-size-sm: 1.00rem;
$font-size-xs: 0.875rem;
$font-size-xxs: 0.75rem;

$line-length-base: 70ch;
$line-height-xl: 1.80em;
$line-height-lg: 1.65em;
$line-height-md: 1.50em;
$line-height-sm: 1.35em;
$line-height-xs: 1.20em;

$serif-family: sans-serif;

//// Spacing
$space-100: 0.50rem;
$space-150: 0.75rem;
$space-200: 1.00rem;
$space-250: 1.25rem;
$space-300: 1.50rem;
$space-400: 2.00rem;
$space-500: 2.50rem;
$space-600: 3.00rem;
$space-800: 4.00rem;
$space-1000: 5.00rem;

//// Breakpoint
$bp-compact-header: 'max-width: 359px';
$bp-compact-footer: 'max-width: 539px';
$bp-extra-body-padding: 'min-width: 460px';
$bp-smaller-font-size: 'max-width: 767px';

@layer base {
  :root {
    color-scheme: light;
    --bg-color: white;
    --text-color: black;
    --text-color-muted: #{$neutral-500};
    --border-color-muted: #{$neutral-200};

    &.dark {
      color-scheme: dark;
      --bg-color: black;
      --text-color: white;
      --text-color-muted: #{$neutral-500};
      --border-color-muted: #{$neutral-800};
    }

    --font-h1: bold #{$font-size-xl}/#{$line-height-xs} #{$serif-family};
    --font-h2: bold #{$font-size-lg}/#{$line-height-sm} #{$serif-family};
    --font-h3: bold #{$font-size-md}/#{$line-height-md} #{$serif-family};
    --font-body: #{$font-size-sm}/#{$line-height-md} #{$serif-family};
    --font-label: #{$font-size-xs}/#{$line-height-md} #{$serif-family};
    --font-link: bold #{$font-size-xs}/#{$line-height-md} #{$serif-family};
    --font-logo: bold #{$font-size-sm}/#{$line-height-xs} #{$serif-family};

    @media ($bp-smaller-font-size) {
      --font-h1: bold #{$font-size-lg}/#{$line-height-sm} #{$serif-family};
      --font-h2: bold #{$font-size-md}/#{$line-height-md} #{$serif-family};
      --font-h3: bold #{$font-size-sm}/#{$line-height-lg} #{$serif-family};
      --font-body: #{$font-size-xs}/#{$line-height-lg} #{$serif-family};
      --font-label: #{$font-size-xxs}/#{$line-height-lg} #{$serif-family};
      --font-link: bold #{$font-size-xxs}/#{$line-height-lg} #{$serif-family};
      --font-logo: bold #{$font-size-xs}/#{$line-height-md} #{$serif-family};
    }
  }

  body {
    font: var(--font-body);
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}
