//// Colours
$neutral-100: hsl(0, 0, 90);
$neutral-200: hsl(0, 0, 80);
$neutral-300: hsl(0, 0, 70);
$neutral-400: hsl(0, 0, 60);
$neutral-500: hsl(0, 0, 50);
$neutral-600: hsl(0, 0, 40);
$neutral-700: hsl(0, 0, 30);
$neutral-800: hsl(0, 0, 20);
$neutral-900: hsl(0, 0, 10);

//// Fonts
$font-size-base: 16px;
$font-size-xxl: 2.50rem;
$font-size-xl: 2.00rem;
$font-size-lg: 1.50rem;
$font-size-md: 1.25rem;
$font-size-sm: 1.00rem;
$font-size-xs: 0.875rem;
$font-size-xxs: 0.75rem;

$line-length-base: 70ch;
$line-height-xl: 1.80;
$line-height-lg: 1.65;
$line-height-md: 1.50;
$line-height-sm: 1.35;
$line-height-xs: 1.20;

$serif-family: sans-serif;

//// Spacing
$space-25: 0.125em;
$space-50: 0.250em;
$space-75: 0.375em;
$space-100: 0.50em;
$space-150: 0.75em;
$space-200: 1.00em;
$space-250: 1.25em;
$space-300: 1.50em;
$space-400: 2.00em;
$space-500: 2.50em;
$space-600: 3.00em;
$space-800: 4.00em;
$space-1000: 5.00em;

//// Breakpoint
$bp-compact-header: 'max-width: 359px';
$bp-compact-footer: 'max-width: 539px';
$bp-extra-body-padding: 'min-width: 460px';
$bp-smaller-font-size: 'max-width: 767px';

@layer base {
  :root {
    color-scheme: light;
    --bg-color: white;
    --bg-color-muted: #{$neutral-200};
    --text-color: black;
    --text-color-muted: #{$neutral-800};
    --text-color-neutral: #{$neutral-500};

    &.dark {
      color-scheme: dark;
      --bg-color: black;
      --bg-color-muted: #{$neutral-800};
      --text-color: white;
      --text-color-muted: #{$neutral-200};
      --text-color-neutral: #{$neutral-500};
    }

    --font-h1: bold #{$font-size-xxl}/#{$line-height-sm} #{$serif-family};
    --font-h2: bold #{$font-size-lg}/#{$line-height-md} #{$serif-family};
    --font-h3: bold #{$font-size-md}/#{$line-height-lg} #{$serif-family};
    --font-body: #{$font-size-sm}/#{$line-height-lg} #{$serif-family};
    --font-label: #{$font-size-xs}/#{$line-height-lg} #{$serif-family};
    --font-link: bold #{$font-size-xs}/#{$line-height-lg} #{$serif-family};
    --font-logo: bold #{$font-size-sm}/#{$line-height-md} #{$serif-family};

    @media ($bp-smaller-font-size) {
      --font-h1: bold #{$font-size-xl}/#{$line-height-sm} #{$serif-family};
      --font-h2: bold #{$font-size-md}/#{$line-height-md} #{$serif-family};
      --font-h3: bold #{$font-size-sm}/#{$line-height-lg} #{$serif-family};
      --font-body: #{$font-size-xs}/#{$line-height-lg} #{$serif-family};
      --font-label: #{$font-size-xxs}/#{$line-height-lg} #{$serif-family};
      --font-link: bold #{$font-size-xxs}/#{$line-height-lg} #{$serif-family};
      --font-logo: bold #{$font-size-xs}/#{$line-height-md} #{$serif-family};
    }

    & .small {
      --font-h1: bold calc(#{$font-size-xxl} * 0.85)/#{$line-height-sm} #{$serif-family};
      --font-h2: bold calc(#{$font-size-lg} * 0.85)/#{$line-height-md} #{$serif-family};
      --font-h3: bold calc(#{$font-size-md} * 0.85)/#{$line-height-lg} #{$serif-family};
      --font-body: calc(#{$font-size-sm} * 0.85)/#{$line-height-lg} #{$serif-family};
      --font-label: calc(#{$font-size-xs} * 0.85)/#{$line-height-lg} #{$serif-family};
      --font-link: bold calc(#{$font-size-xs} * 0.85)/#{$line-height-lg} #{$serif-family};
      --font-logo: bold calc(#{$font-size-sm} * 0.85)/#{$line-height-md} #{$serif-family};

      @media ($bp-smaller-font-size) {
        --font-h1: bold calc(#{$font-size-xl} * 0.85)/#{$line-height-sm} #{$serif-family};
        --font-h2: bold calc(#{$font-size-md} * 0.85)/#{$line-height-md} #{$serif-family};
        --font-h3: bold calc(#{$font-size-sm} * 0.85)/#{$line-height-lg} #{$serif-family};
        --font-body: calc(#{$font-size-xs} * 0.85)/#{$line-height-lg} #{$serif-family};
        --font-label: calc(#{$font-size-xxs} * 0.85)/#{$line-height-lg} #{$serif-family};
        --font-link: bold calc(#{$font-size-xxs} * 0.85)/#{$line-height-lg} #{$serif-family};
        --font-logo: bold calc(#{$font-size-xs} * 0.85)/#{$line-height-md} #{$serif-family};
      }
    }
  }

  body {
    font: var(--font-body);
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  h1 {
    font: var(--font-h1);
  }

  h2 {
    font: var(--font-h2);
  }

  h3 {
    font: var(--font-h3);
  }
}
