.footer {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--text-color-muted);
}

.footer-group {
  display: inline-flex;
  list-style-type: none;
  gap: 1rem;
}

.footer ul {
  margin: 0;
  padding: 0;
}
