@layer layout {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 20rem;

    @media ($bp-extra-body-padding) {
      padding: 0 $space-400;
    }
  }

  .section {
    width: 100%;
    max-width: 48rem;
    margin: auto;
    padding-left: $space-400;
    padding-right: $space-400;
    box-sizing: border-box;
  }

  .section-header {
    margin-bottom: $space-250;
  }

  .section-spacing {
    margin-bottom: calc(#{$space-500} * 2);

    &:last-child {
      margin-bottom: $space-500;
    }
  }

  main {
    flex-grow: 1;
  }
}
