@layer layout {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 300px;

    @media ($bp-extra-body-padding) {
      padding: 0 $space-400;
    }
  }

  .section {
    width: 100%;
    max-width: 768px;
    margin: auto;
    padding-left: $space-400;
    padding-right: $space-400;
    box-sizing: border-box;
  }

  main {
    flex-grow: 1;
  }
}
